{
  "openapi": "3.0.3",
  "info": {
    "title": "HelpDesk API",
    "version": "1.0.0",
    "description": "<script type=\"text/javascript\">\n    (function(window, document, dataLayerName, id) {\n    window[dataLayerName]=window[dataLayerName]||[],window[dataLayerName].push({start:(new Date).getTime(),event:\"stg.start\"});var scripts=document.getElementsByTagName('script')[0],tags=document.createElement('script');\n    function stgCreateCookie(a,b,c){var d=\"\";if(c){var e=new Date;e.setTime(e.getTime()+24*c*60*60*1e3),d=\"; expires=\"+e.toUTCString()}document.cookie=a+\"=\"+b+d+\"; path=/\"}\n    var isStgDebug=(window.location.href.match(\"stg_debug\")||document.cookie.match(\"stg_debug\"))&&!window.location.href.match(\"stg_disable_debug\");stgCreateCookie(\"stg_debug\",isStgDebug?1:\"\",isStgDebug?14:-1);\n    var qP=[];dataLayerName!==\"dataLayer\"&&qP.push(\"data_layer_name=\"+dataLayerName),isStgDebug&&qP.push(\"stg_debug\");var qPString=qP.length>0?(\"?\"+qP.join(\"&\")):\"\";\n    tags.async=!0,tags.src=\"//livechat.containers.piwik.pro/\"+id+\".js\"+qPString,scripts.parentNode.insertBefore(tags,scripts);\n    !function(a,n,i){a[n]=a[n]||{};for(var c=0;c<i.length;c++)!function(i){a[n][i]=a[n][i]||{},a[n][i].api=a[n][i].api||function(){var a=[].slice.call(arguments,0);\"string\"==typeof a[0]&&window[dataLayerName].push({event:n+\".\"+i+\":\"+a[0],parameters:[].slice.call(arguments,1)})}}(i[c])}(window,\"ppms\",[\"tm\",\"cm\"]);\n    })(window, document, 'dataLayer', '28a0a095-db17-4f24-8d11-19c9de6721cc');\n</script><noscript><iframe src=\"//livechat.containers.piwik.pro/28a0a095-db17-4f24-8d11-19c9de6721cc/noscript.html\" height=\"0\" width=\"0\" style=\"display:none;visibility:hidden\"></iframe></noscript>\n# Introduction\n\nThis document describes the public API of [HelpDesk Product](https://www.helpdesk.com/)\n\n# Authentication\n\nHelpDesk API shares an authentication and authorization system with [LiveChat](https://livechat.com). More details can be found in [Authorization Documentation](https://developers.livechat.com/docs/authorization).\n\nEndpoints require `Authorization` HTTP header. Authorization methods include:\n\n - Personal Access Tokens (good for testing and development pruposes). PATs can be created using [Developers Console](https://developers.livechat.com/console/) in the **Tools / Personal Access Tokens** section. Please use your HelpDesk credentials to log into the console. Please use `accounts--my:ro` scope to generate the token. After generating a token, use Basic authentication scheme with **account_id** displayed in Developers Console as the user name and generated token as a password. [Detailed instructions](https://developers.livechat.com/docs/authorization/authorizing-api-calls/#personal-access-tokens). \n - OAuth 2 Authorization Code Grant flow (recommended for production deployment) - details of implementation are described in [Authorization code grant](https://developers.livechat.com/docs/authorization/authorizing-api-calls/#authorization-code-grant) documentation.\n - Other possible options are described in the [Use cases](https://developers.livechat.com/docs/authorization/authorizing-api-calls/#use-cases) documentation section.\n\n# Common notions\n\n## Relative dates and date/time ranges\n\nAll date/time ranges are half-open, i.e. `[from, to)`\n\nIn addition to absolute timestamps/dates, it is possible to specify relative dates in the format:\n- `[-+][number][hHdDM]`. `Sign (+ or -)` denotes relation to the current timestamp\n- `number` denotes the number of units\n- `unit` represent minutes (`n`), hours (`h`), days (`d`) and months (`m`). \n\nLowercase units are relative to the current timestamp and uppercase units are relative to the start of current truncated period.\n\nExamples:\n\n| Relative date | Description |\n|-|-|\n| `-2d` | 48 hours before now |\n| `+1m` | 1 month from now in the future |\n| `-0M` | start of current month |\n| `-1M` | start of last month |\n| `-0D` | last midnight |\n| `-10n` | 10 minutes before now |\n\n## Ticket silos (folders)\n\nTickets are stored in the following silos:\n\n- `tickets`: recent tickets with read/write access\n- `archive`: archived tickets with read-only access\n- `spam`: spam tickets with read-only access (purged after 60 days since the last update)\n- `trash`: deleted tickets with read-only access (purged after 30 days since the last update)\n\nImportant notes about silos:\n- When listing tickets, it is required to specify the silo name if the listing should contain tickets stored in a silo other than `tickets`.\n- To move a ticket to another silo, use [PUT /tickets/{ticket_id}/silo](#operation/ticketUpdateChangeSilo) endpoint.\n\n# Gotchas\n\n## User-Agent header\n\nWe advise always including `User-Agent` header in API requests. Requests missing it might be blocked by intermediary services.\n\n# HelpDesk apps\n\nWe try to give our developers as many opportunities to suit their business as possible. One of the ways to do that is the possibility of developing integrations for HelpDesk.\n\nIntegrations are created through our [Developer Console](https://developers.livechat.com/console/), your own developer portal allowing you to build and publish apps on the Marketplace. \n\nTo read more about how to develop integrations for HelpDesk, go to the [Building HelpDesk apps tutorial](https://developers.livechat.com/docs/getting-started/helpdesk-apps).\n",
    "x-logo": {
      "url": "https://www.helpdesk.com/helpdesk-logo.svg",
      "altText": "HelpDesk logo"
    },
    "contact": {
      "email": "support@helpdesk.com",
      "url": "https://www.helpdesk.com"
    }
  },
  "servers": [
    {
      "url": "https://api.helpdesk.com"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Account and users",
      "tags": [
        "Licenses",
        "Agents",
        "Subscriptions",
        "Teams",
        "Templates",
        "Audit log"
      ]
    },
    {
      "name": "Tickets",
      "tags": [
        "Tickets",
        "Imported tickets",
        "Tags",
        "Transactions",
        "Custom fields"
      ]
    },
    {
      "name": "Email management",
      "tags": [
        "Email domains",
        "Mailboxes (inboxes)",
        "Reply addresses",
        "Spam management"
      ]
    },
    {
      "name": "Automation",
      "tags": [
        "Canned responses",
        "Rules",
        "Macros",
        "Views",
        "Webhooks"
      ]
    },
    {
      "name": "Reports and data",
      "tags": [
        "Reports"
      ]
    }
  ],
  "tags": [
    {
      "name": "Tickets",
      "description": "## Fetch tickets in batches\n\nThe `/v1/tickets` endpoint provides **cursor-based pagination** for efficient navigation through large or frequently updated datasets. This method avoids common pitfalls of offset-based pagination, offering greater stability and performance.\n\n### How Cursor Pagination Works\n\nCursor pagination uses a composite key of:\n\n- `value` - a timestamp (e.g., `createdAt`, `updatedAt`, `lastMessageAt`)\n- `ID` - a unique ticket ID (`UUID`) to guarantee stable sorting, even for duplicate timestamps\n\nThese fields are used to determine **where to continue pagination** when requesting the next or previous page.\n\nYou may provide **either** a `next` cursor (to fetch forward) or a `prev` cursor (to fetch backward) — **not both**.\n\n### Query Parameters\n\n| Parameter       | Type     | Description                                                                 |\n|----------------|----------|-----------------------------------------------------------------------------|\n| `pageSize`     | number   | Number of results per page (default = 20, max = 100)                        |\n| `order`        | string   | Sorting direction: `asc` or `desc` (default = `desc`)                       |\n| `sortBy`       | string   | Field to sort by: `createdAt`, `updatedAt`, `lastMessageAt` (default = `createdAt`) |\n| `next.value`   | string   | ISO 8601 timestamp for the last item on the current page                   |\n| `next.ID`      | UUID     | ID of the last item on the current page                                    |\n| `prev.value`   | string   | ISO 8601 timestamp for the first item on the current page                  |\n| `prev.ID`      | UUID     | ID of the first item on the current page                                   |\n\n## Example: Step-by-Step Cursor Navigation\n\nAssume 7 tickets exist, sorted by `createdAt desc`:\n\n| ID (UUID)                              | Created At              |\n|----------------------------------------|--------------------------|\n| `fa1355ae-7e4f-4aa2-83df-20e6bc503a4b` | 2024-10-17T10:00:00.000Z |\n| `7c2037c2-0624-4a56-94e1-86e25b6c3727` | 2024-10-16T10:00:00.000Z |\n| `cb7a8b56-bc41-4e2a-b88a-6615a2ef45d9` | 2024-10-15T10:00:00.000Z |\n| `d3ea733f-7b0e-4075-8a64-8f994f2b76d2` | 2024-10-14T10:00:00.000Z |\n| `bd9a3d9c-12a3-4ba3-b438-1a3d8e3e6dc1` | 2024-10-13T10:00:00.000Z |\n| `ea0d7356-34dc-4899-a4de-2cbbdf71fcf0` | 2024-10-12T10:00:00.000Z |\n| `12c3d688-7a14-4dfb-9f82-74e2bc155fe9` | 2024-10-11T10:00:00.000Z |\n\n\n### Step 1: Initial Request\n\n```http\nGET /v1/tickets?pageSize=3&order=desc&sortBy=createdAt\n```\n\n**Response:**\n\n```json\n[\n{ \"ID\": \"fa1355ae-7e4f-4aa2-83df-20e6bc503a4b\", \"createdAt\": \"2024-10-17T10:00:00.000Z\", ... },\n{ \"ID\": \"7c2037c2-0624-4a56-94e1-86e25b6c3727\", \"createdAt\": \"2024-10-16T10:00:00.000Z\", ... },\n{ \"ID\": \"cb7a8b56-bc41-4e2a-b88a-6615a2ef45d9\", \"createdAt\": \"2024-10-15T10:00:00.000Z\", ... }\n]\n```\n\n\n### Step 2: Next Page\n\n```http\nGET /v1/tickets?pageSize=3&order=desc&sortBy=createdAt&next.value=2024-10-15T10:00:00Z&next.ID=cb7a8b56-bc41-4e2a-b88a-6615a2ef45d9\n```\n\n**Response:**\n\n```json\n[\n{ \"ID\": \"d3ea733f-7b0e-4075-8a64-8f994f2b76d2\", \"createdAt\": \"2024-10-14T10:00:00.000Z\", ... },\n{ \"ID\": \"bd9a3d9c-12a3-4ba3-b438-1a3d8e3e6dc1\", \"createdAt\": \"2024-10-13T10:00:00.000Z\", ... },\n{ \"ID\": \"ea0d7356-34dc-4899-a4de-2cbbdf71fcf0\", \"createdAt\": \"2024-10-12T10:00:00.000Z\", ... }\n]\n```\n\n\n### Step 3: Final Page\n\n```http\nGET /v1/tickets?pageSize=3&order=desc&sortBy=createdAt&next.value=2024-10-12T10:00:00Z&next.ID=ea0d7356-34dc-4899-a4de-2cbbdf71fcf0\n```\n\n**Response:**\n\n```json\n[\n{ \"ID\": \"12c3d688-7a14-4dfb-9f82-74e2bc155fe9\", \"createdAt\": \"2024-10-11T10:00:00.000Z\", ... }\n]\n```\n\n### Best Practices\n\n- Use the `next` or `prev` cursor values returned by your last result set to paginate forward or backward.\n- Keep `sortBy` and `order` consistent across requests for predictable behavior.\n- Use `eventsScope=none` if you don't need events in the response.\n"
    },
    {
      "name": "Licenses",
      "description": "The license describes a customer account. Contains:\n - [Subscription](#tag/Subscriptions) information (selected plan, number of agent slots)\n - Global license settings\n - Default team designation. The default team is selected among all teams and serves as a default/fallback mechanism, every place team can't be determined or hasn't been specified\n - Default template. The default template is served if the team hasn't got its own template set\n"
    },
    {
      "name": "Agents",
      "description": "Agent represent single agent account on a license. Contains:\n  - teams agent belongs to\n  - agent individual settings like notification preferences, avatars etc.\n  - agent role (`owner`, `normal`, `viewer`)\n"
    },
    {
      "name": "Custom fields",
      "description": "Custom fields are customer defined fields in ticket. Tickets are created in license scope, visibility is set per team(s). \n\nThere are four types of custom fields (single line, multi line, url and date). \n\nEvery custom field has edit permission level:\n- normal, value editable by any agent in tickets view\n- owner, value editable by admins only in tickets view\n- read only, value not editable on interface, only via API\n\nEvery custom field can be deactivated (hidden in interface).\n\nAmount of active custom fields is limited per license in license settings by `maxCustomFieldsActive` value.\n\nOnly custom field that is not used in any ticket can be deleted.\n"
    },
    {
      "name": "Transactions",
      "description": "\nTransactions represent volatile sets of uploaded attachments used while modifying various elements in HelpDesk such as ticket messages, agent signatures etc.\n\n## Basic flow\n\nTransactions are volatile. Transaction exists only until it is used in another `POST` or `PATCH` method. Unused transactions are purged after 24 hours along with uploaded attachments with exception of \"external\" attachments i.e. attachments copied from another entities like agent signatures etc.\n\nTransactions have types. Currently `ticket`, `agent`, `templateLogo` and `cannedResponse`. The type determines path of uploaded attachment and the entity in which it can be used.\n\nUpon creation, transaction needs entity ID and can only be used in this entity afterwards - this allows to keep consistent naming in S3 paths. The exception to this rule is creating transaction for a ticket, template or canned response that don't exist yet. In this case entity ID should not be provided - it will be generated automatically and will determine final ID of created ticket, template or canned response.\n\n### Create transaction\n\n```\nPOST /v1/transactions\n\n{\n    // only one field allowed:\n    \"ticketID\": \"UUID\", // do not add when ticket does not exist yet\n    \"agentID\": \"UUID\", // use when uploading attachments for agent signature\n    \"templateID\": \"UUID\", // do not add when template does not exist yet\n    \"cannedResponseID\": \"UUID\", // do not add when canned resposne does not exist yet\n}\n```\n\nThis yields:\n\n```\n{\n\"ID\": \"9a1e8a52-e7f2-4f59-8b45-a1643d28c460\",\n\"type\": \"ticket\",\n\"createdAt\": \"2020-03-24T13:58:12.288Z\",\n\"attachments\": []\n}\n```\n\n### Upload file\n\n```\nPOST /v1/transactions/9a1e8a52-e7f2-4f59-8b45-a1643d28c460/attachments\n```\n\nUse multipart with `attachments` as key. Multiple files are allowed.\n\nResult:\n\n```\n[\n{\n    \"ID\": \"af367f6b-5b8b-4468-a2ef-4990114d968a\",\n    \"cid\": \"af367f6b-5b8b-4468-a2ef-4990114d968a\",\n    \"url\": \"https://cdn-labs.livechat-static.com/api/file/helpdesk/att/1338/9a1e8a52-e7f2-4f59-8b45-a1643d28c460/9ce3d7c1ada659d0cf2da321ef41a4628192875aa7e0c80627b4243140ab02ae/earl.png\",\n    \"name\": \"earl.png\",\n    \"type\": \"image/png\",\n    \"size\": 25670\n}\n]\n```\n\n### Remove uploaded file from transaction\n\n```\nDELETE /v1/transactions/9a1e8a52-e7f2-4f59-8b45-a1643d28c460/attachments/af367f6b-5b8b-4468-a2ef-4990114d968a\n```\n\nResult:\n\n```\n\"OK\"\n```\n\n### Add attachments from agent signature\n\n```\nPOST /v1/transactions/6456b4e5-1e8f-4029-86f7-1e534d020225/attachments\n\n{\n\"agentID\": \"GUID\" // copy attachments from this agent's signature\n}\n```\n\nResult:\n\n```\n[\n{\n    \"ID\": \"44b004b7-2efd-4f73-b9f5-ac927816f18b\",\n    \"cid\": \"44b004b7-2efd-4f73-b9f5-ac927816f18b\",\n    \"url\": \"https://cdn-labs.livechat-static.com/api/file/helpdesk/att/1338/agent/ff623067-ba81-4613-bfa8-1c558e3a58f0/9ce3d7c1ada659d0cf2da321ef41a4628192875aa7e0c80627b4243140ab02ae/earl.png\",\n    \"name\": \"earl.png\",\n    \"type\": \"image/png\",\n    \"size\": 25670\n},\n{\n    \"ID\": \"a1fbb278-0bca-4eba-baa8-48cc9d1f1abc\",\n    \"cid\": \"a1fbb278-0bca-4eba-baa8-48cc9d1f1abc\",\n    \"url\": \"https://cdn-labs.livechat-static.com/api/file/helpdesk/att/1338/agent/ff623067-ba81-4613-bfa8-1c558e3a58f0/9ce3d7c1ada659d0cf2da321ef41a4628192875aa7e0c80627b4243140ab02ae/earl.png\",\n    \"name\": \"earl.png\",\n    \"type\": \"image/png\",\n    \"size\": 25670\n}\n]\n```\n\n## Common tasks\n\n### Change attachments in agent signature\n\n1. Create transaction of type `agent`\n\n```\nPOST /v1/transactions HTTP/1.1\n\nagentID=ff623067-ba81-4613-bfa8-1c558e3a58f0\n```\n\n2. Upload attachments\n\n3. Update signature using `transactionID`\n\n```\nPATCH /v1/agents/ff623067-ba81-4613-bfa8-1c558e3a58f0 HTTP/1.1\n\nsignature.text=test\ntransactionID=6efd3115-cf6e-4b2c-83d1-03fa5470c625\n```\n"
    },
    {
      "name": "Email domains",
      "description": "Email domain represent a domain with records authorizing HelpDesk to send emails on behalf of email owner. This allows for using original license owner domain for ticket communication. To achieve seamless end-user experience, additional setup of mailboxes (inboxes) and reply addresses is required."
    },
    {
      "name": "Subscriptions",
      "description": "Subscription represent currently selected plan and number of paid agent slots. Changing these parameters **will cuase credit card to be charged**."
    },
    {
      "name": "Teams",
      "description": "Teams group agents. Every ticket is always assigned to specific team. At any given time one of the teams has to be designated as a default (fallback) team.\n"
    },
    {
      "name": "Templates",
      "description": "Teamplate describes HTML (or Visual) and plaintext version of every email sent to end-user. Templates can be used to customize these messages.\n"
    },
    {
      "name": "Audit log",
      "description": "Audit log contains all changes made in the system.\n"
    },
    {
      "name": "Mailboxes (inboxes)",
      "description": "Mailboxes (inboxes) are virtual email addresses provided by HelpDesk as an entry point for all email communcation. All messages that create tickets should be forwarded to one of the mailboxes. Each mailbox can be set to route incomming tickets to specific teams and optionally agents. Mailbox can also have a reply address customized allowing reply to be sent from different `From` address for each mailbox.\n\nDefault mailbox is built in and can't be removed. It also won't be listed in `GET` responses.\n"
    },
    {
      "name": "Reply addresses",
      "description": "Reply addresses are created automatically when configuring a mailbox with custom reply address. When this happens, an automatic verification message is being sent to verify, that reply address correctly forwards messages back to one of the mailboxes. This is to ensure that end-user will always be able to reply to agent's message."
    },
    {
      "name": "Spam management",
      "description": "Trusting and blocking emails/domains can be used to force message from specific sender to spam (block) or ignore spam filters (trust). In case of conflicting entries, more specific entry has precedence over more general (email is more important than domain). Adding an address or a domain to one list automatically removes it from the other."
    },
    {
      "name": "Canned responses",
      "description": "Canned responses represent short templates of replies fragments that can be used during message composition in the app."
    },
    {
      "name": "Rules",
      "description": "Rules allow automated processing of tickets. Rules are executed for every ticket during creation or any change that modifies the ticket. A rule consists of conditions (triggers) and actions. When every (or any - depending on quantifier) trigger is fulfilled, all action in the rule are being performed."
    },
    {
      "name": "Macros",
      "description": "Macros enable batch processing of tickets. A macro consists of several actions. When a user triggers a macro, all the actions within it are executed on the ticket. The number of macros is limited to 20 shared macros per license and 20 private macros per user."
    },
    {
      "name": "Views",
      "description": "Views are materialized ticket filters. Every ticket filter set can be saved as a view. Views are created per agent."
    },
    {
      "name": "Webhooks",
      "description": "Webhooks represent HTTP addresses that are being requested every time an event occurs.\nWebhook payload for `tickets.*` webhooks (`POST` request with `application/json` payload):\n```\n    {\n        eventType: <webhook event type>,\n        createdAt: <webhook event timestamp>,\n        payload: {\n            <new ticket content>\n        }\n    }\n```\n\nWebhook payload for `tickets.events.*` webhooks (`POST` request with `application/json` payload):\n```\n    {\n        eventType: <webhook event type>,\n        createdAt: <webhook event timestamp>,\n        payload: {\n            ticket: <new ticket content>\n            event: <the event content>\n        }\n    }\n```\n\nSupported events:\n\n| Event type | Description |\n|-|-|\n| `tickets.create` | New ticket was created |\n| `tickets.update` | Ticket was modified |\n| `tickets.statusChange` | Ticket's status changed (deprecated - please use `tickets.events.status` instead) |\n| `tickets.events.status` | Ticket's status changed |\n| `tickets.events.priority` | Ticket's priority changed |\n| `tickets.events.message` | New message in ticket |\n| `tickets.events.tags` | Ticket's tags changed |\n| `tickets.events.followers` | Ticket's followers changed |\n| `tickets.events.assignment` | Ticket's assignment changed |\n\n\nThe request will be retried for about 24 hours with increasing interval in case endpoint responds with HTTP code different than `200`.\n"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "Use your access token as the value of the `Authorization` header in the format `Bearer <access_token>`.\n"
      },
      "PersonalAccessToken": {
        "type": "http",
        "scheme": "basic",
        "description": "Use your HelpDesk account ID as the username and your Personal Access Token as the password.\nYou can create a Personal Access Token in the [Developers Console](https://developers.livechat.com/console/) in the **Tools / Personal Access Tokens** section.\nPlease use `accounts--my:ro` scope to generate the token.\n"
      }
    },
    "schemas": {
      "ObjectBase": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "string",
            "example": "42e113f9-9353-4e89-9f68-69b92f423b0c",
            "description": "Unique object identifier",
            "format": "uuid"
          },
          "licenseID": {
            "type": "integer",
            "example": 13381337,
            "description": "Unique account identifier"
          },
          "createdAt": {
            "type": "string",
            "example": "2020-04-30T22:02:08.901Z",
            "description": "Time of creation",
            "format": "date-time"
          },
          "createdBy": {
            "type": "string",
            "example": "f56caf69-3f05-4386-9567-fdc909d7ad77",
            "description": "Creator identifier",
            "format": "uuid"
          },
          "createdByType": {
            "type": "string",
            "enum": [
              "agent",
              "client",
              "system"
            ],
            "description": "Creator type"
          },
          "updatedAt": {
            "type": "string",
            "example": "2020-04-30T22:02:08.901Z",
            "description": "Time of last modification",
            "format": "date-time"
          },
          "updatedBy": {
            "type": "string",
            "example": "f56caf69-3f05-4386-9567-fdc909d7ad77",
            "description": "Modification author identifier",
            "format": "uuid"
          }
        }
      },
      "AgentBase": {
        "type": "object",
        "properties": {
          "roles": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "owner",
                "normal",
                "viewer"
              ],
              "description": "Agent role"
            }
          },
          "teamIDs": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "f56caf69-3f05-4386-9567-fdc909d7ad77"
            },
            "description": "List of teams that agent is a member of"
          },
          "email": {
            "type": "string",
            "example": "john@helpdesk.com",
            "description": "Agent's email"
          },
          "name": {
            "type": "string",
            "example": "John HelpDesk",
            "description": "Full name"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "invited"
            ],
            "example": "active",
            "description": "Account status"
          },
          "avatar": {
            "type": "string",
            "example": "https://livechat.s3.amazonaws.com/1520/avatars/c17903a3abff472f4b36ac33187cc135.jpeg",
            "description": "Avatar URL"
          },
          "jobTitle": {
            "type": "string",
            "example": null,
            "description": "Job title"
          },
          "flags": {
            "type": "object",
            "properties": {
              "visitedWelcomeTutorial": {
                "type": "boolean",
                "description": "Agent visited welcome tutorial"
              }
            }
          },
          "settings": {
            "type": "object",
            "properties": {
              "emailNotificationsActive": {
                "type": "boolean",
                "description": "Agent email notifications active"
              },
              "webpushNotificationsActive": {
                "type": "string",
                "enum": [
                  "always",
                  "whenOnline",
                  "whenOffline"
                ],
                "description": "Agent webpush notifications settings"
              }
            }
          },
          "autoassignment": {
            "type": "boolean",
            "description": "Enable autoassignment for the agent"
          },
          "autoassignmentTeamIDs": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of teams from which an agent can be auto-assigned",
            "example": [
              "9dd9e888-b42e-46c1-aa63-20cb5354c28c"
            ]
          }
        }
      },
      "SignatureBase": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "example": "Best regards,\nJohn // LiveChat, Inc.\n"
          },
          "richTextObj": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "example": [
              {
                "type": "paragraph"
              },
              {
                "children": [
                  {
                    "text": "Best regards,"
                  },
                  {
                    "type": "paragraph"
                  },
                  {
                    "children": null
                  },
                  {
                    "text": "Jogn // LiveChat, Inc."
                  }
                ]
              }
            ],
            "description": "Richtext object representing default agent's signature"
          }
        }
      },
      "Attachment": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "url",
            "description": "Attachment URL"
          },
          "cid": {
            "type": "string",
            "description": "Attachment CID for inline use"
          },
          "name": {
            "type": "string",
            "description": "Attachment name"
          },
          "size": {
            "type": "integer",
            "description": "Attachment size"
          },
          "type": {
            "type": "string",
            "description": "Attachment MIME type"
          },
          "sha256": {
            "type": "string",
            "description": "Attachment checksum"
          },
          "token": {
            "type": "string",
            "description": "Attachment random token"
          }
        }
      },
      "SignatureBaseWithAttachments": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SignatureBase"
          },
          {
            "type": "object",
            "properties": {
              "attachments": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Attachment"
                },
                "description": "Attachments list used in richTextObj"
              }
            }
          }
        ]
      },
      "AgentResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ObjectBase"
          },
          {
            "$ref": "#/components/schemas/AgentBase"
          },
          {
            "type": "object",
            "properties": {
              "signature": {
                "$ref": "#/components/schemas/SignatureBaseWithAttachments"
              }
            }
          }
        ]
      },
      "transactionID": {
        "type": "string",
        "format": "uuid",
        "description": "Attachment transaction ID. Used when setting signature that includes attachmets",
        "example": "050340e4-82de-4a2a-a1c4-724dfaf66cec"
      },
      "AgentCreate": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AgentBase"
          },
          {
            "type": "object",
            "required": [
              "email",
              "roles"
            ]
          },
          {
            "type": "object",
            "properties": {
              "signature": {
                "$ref": "#/components/schemas/SignatureBase"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "transactionID": {
                "$ref": "#/components/schemas/transactionID"
              }
            }
          }
        ]
      },
      "ID": {
        "type": "string",
        "example": "42e113f9-9353-4e89-9f68-69b92f423b0c",
        "description": "Unique object identifier",
        "format": "uuid"
      },
      "teamIDs": {
        "type": "array",
        "items": {
          "type": "string",
          "example": "f56caf69-3f05-4386-9567-fdc909d7ad77"
        },
        "description": "List of teams that agent is a member of"
      },
      "flags": {
        "type": "object",
        "properties": {
          "visitedWelcomeTutorial": {
            "type": "boolean",
            "description": "Agent visited welcome tutorial"
          }
        }
      },
      "settings": {
        "type": "object",
        "properties": {
          "emailNotificationsActive": {
            "type": "boolean",
            "description": "Agent email notifications active"
          },
          "webpushNotificationsActive": {
            "type": "string",
            "enum": [
              "always",
              "whenOnline",
              "whenOffline"
            ],
            "description": "Agent webpush notifications settings"
          }
        }
      },
      "AgentUpdateBatch": {
        "type": "object",
        "properties": {
          "teamIDs": {
            "$ref": "#/components/schemas/teamIDs"
          },
          "flags": {
            "$ref": "#/components/schemas/flags"
          },
          "settings": {
            "$ref": "#/components/schemas/settings"
          }
        }
      },
      "name": {
        "type": "string",
        "example": "John HelpDesk",
        "description": "Full name"
      },
      "jobTitle": {
        "type": "string",
        "example": null,
        "description": "Job title"
      },
      "avatar": {
        "type": "string",
        "example": "https://livechat.s3.amazonaws.com/1520/avatars/c17903a3abff472f4b36ac33187cc135.jpeg",
        "description": "Avatar URL"
      },
      "roles": {
        "type": "array",
        "items": {
          "type": "string",
          "enum": [
            "owner",
            "normal",
            "viewer"
          ],
          "description": "Agent role"
        }
      },
      "autoassignment": {
        "type": "boolean",
        "description": "Enable autoassignment for the agent"
      },
      "autoassignmentTeamIDs": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "description": "List of teams from which an agent can be auto-assigned",
        "example": [
          "9dd9e888-b42e-46c1-aa63-20cb5354c28c"
        ]
      },
      "AgentUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/name"
          },
          "signature": {
            "$ref": "#/components/schemas/SignatureBase"
          },
          "jobTitle": {
            "$ref": "#/components/schemas/jobTitle"
          },
          "avatar": {
            "$ref": "#/components/schemas/avatar"
          },
          "roles": {
            "$ref": "#/components/schemas/roles"
          },
          "teamIDs": {
            "$ref": "#/components/schemas/teamIDs"
          },
          "flags": {
            "$ref": "#/components/schemas/flags"
          },
          "settings": {
            "$ref": "#/components/schemas/settings"
          },
          "transactionID": {
            "type": "string",
            "format": "uuid",
            "description": "Attachment transaction ID. Used when setting signature that includes attachmets",
            "example": "050340e4-82de-4a2a-a1c4-724dfaf66cec"
          },
          "autoassignment": {
            "$ref": "#/components/schemas/autoassignment"
          },
          "autoassignmentTeamIDs": {
            "$ref": "#/components/schemas/autoassignmentTeamIDs"
          }
        }
      },
      "CannedResponseBase": {
        "type": "object",
        "properties": {
          "teamID": {
            "type": "string",
            "example": "f56caf69-3f05-4386-9567-fdc909d7ad77",
            "description": "Canned response team",
            "nullable": true
          },
          "shortcuts": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "ThankYou"
            },
            "description": "List of shortcuts for the canned response"
          }
        }
      },
      "CannedResponseText": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "example": "Thank you for contacting us! We'll reply soon!"
          }
        }
      },
      "CannedResponseRichTextObj": {
        "type": "object",
        "properties": {
          "richTextObj": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Richtext object representing canned response body"
          }
        }
      },
      "CannedResponseResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ObjectBase"
          },
          {
            "$ref": "#/components/schemas/CannedResponseBase"
          },
          {
            "$ref": "#/components/schemas/CannedResponseText"
          },
          {
            "$ref": "#/components/schemas/CannedResponseRichTextObj"
          },
          {
            "type": "object",
            "properties": {
              "attachments": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Attachment"
                },
                "description": "Attachments list used in richTextObj"
              }
            }
          }
        ]
      },
      "CannedResponseCreate": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CannedResponseBase"
          },
          {
            "type": "object",
            "required": [
              "text",
              "shortcuts",
              "richTextObj"
            ]
          },
          {
            "type": "object",
            "properties": {
              "transactionID": {
                "type": "string",
                "format": "uuid",
                "description": "References transaction containing uploaded attachment used in canned response",
                "example": "050340e4-82de-4a2a-a1c4-724dfaf66cec"
              }
            }
          },
          {
            "oneOf": [
              {
                "$ref": "#/components/schemas/CannedResponseText"
              },
              {
                "$ref": "#/components/schemas/CannedResponseRichTextObj"
              }
            ]
          }
        ]
      },
      "teamID": {
        "type": "string",
        "example": "f56caf69-3f05-4386-9567-fdc909d7ad77",
        "description": "Canned response team",
        "nullable": true
      },
      "text": {
        "type": "string",
        "example": "Thank you for contacting us! We'll reply soon!"
      },
      "shortcuts": {
        "type": "array",
        "items": {
          "type": "string",
          "example": "ThankYou"
        },
        "description": "List of shortcuts for the canned response"
      },
      "richTextObj": {
        "type": "array",
        "items": {
          "type": "object"
        },
        "description": "Richtext object representing canned response body"
      },
      "CannedResponseUpdate": {
        "type": "object",
        "properties": {
          "teamID": {
            "$ref": "#/components/schemas/teamID"
          },
          "text": {
            "$ref": "#/components/schemas/text"
          },
          "shortcuts": {
            "$ref": "#/components/schemas/shortcuts"
          },
          "richTextObj": {
            "$ref": "#/components/schemas/richTextObj"
          },
          "transactionID": {
            "type": "string",
            "format": "uuid",
            "description": "References transaction containing uploaded attachment used in canned response",
            "example": "050340e4-82de-4a2a-a1c4-724dfaf66cec"
          }
        }
      },
      "CustomFieldBase": {
        "type": "object",
        "properties": {
          "teamIDs": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "example": [
              "84c11d7d-5caa-4875-a74e-eb23e902041f"
            ],
            "description": "Teams, that will see the custom field in ticket details",
            "nullable": false
          },
          "displayName": {
            "type": "string",
            "example": "Order ID",
            "description": "Custom field label",
            "nullable": false
          },
          "apiKey": {
            "type": "string",
            "example": "order-id",
            "description": "Custom field uniqe key",
            "nullable": false
          },
          "type": {
            "type": "string",
            "enum": [
              "singleLine",
              "multiLine",
              "date",
              "url"
            ],
            "example": "singleLine",
            "description": "Custom field type. Value must be string\n- `singleLine` has 120 chars limit\n- `multiLine` has 1000 chars limit\n- `date` accepts `YYYY-MM-DD` format\n",
            "nullable": false
          },
          "roleLevel": {
            "type": "string",
            "enum": [
              "owner",
              "normal",
              "readOnly"
            ],
            "example": "owner",
            "description": "Custom field edit privileges",
            "nullable": false
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "deactivated"
            ],
            "example": "active",
            "description": "Custom field state",
            "nullable": false
          }
        }
      },
      "CustomFieldResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ObjectBase"
          },
          {
            "$ref": "#/components/schemas/CustomFieldBase"
          },
          {
            "tickets": {
              "type": "integer",
              "exmaple": 0,
              "description": "Number of tickets using custom field",
              "nullable": false
            }
          }
        ]
      },
      "CustomFieldCreate": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CustomFieldBase"
          },
          {
            "type": "object",
            "required": [
              "displayName",
              "apiKey",
              "type",
              "roleLevel"
            ]
          }
        ]
      },
      "properties-teamIDs": {
        "type": "array",
        "items": {
          "type": "string",
          "format": "uuid"
        },
        "example": [
          "84c11d7d-5caa-4875-a74e-eb23e902041f"
        ],
        "description": "Teams, that will see the custom field in ticket details",
        "nullable": false
      },
      "displayName": {
        "type": "string",
        "example": "Order ID",
        "description": "Custom field label",
        "nullable": false
      },
      "roleLevel": {
        "type": "string",
        "enum": [
          "owner",
          "normal",
          "readOnly"
        ],
        "example": "owner",
        "description": "Custom field edit privileges",
        "nullable": false
      },
      "status": {
        "type": "string",
        "enum": [
          "active",
          "deactivated"
        ],
        "example": "active",
        "description": "Custom field state",
        "nullable": false
      },
      "CustomFieldUpdate": {
        "type": "object",
        "properties": {
          "teamIDs": {
            "$ref": "#/components/schemas/properties-teamIDs"
          },
          "displayName": {
            "$ref": "#/components/schemas/displayName"
          },
          "roleLevel": {
            "$ref": "#/components/schemas/roleLevel"
          },
          "status": {
            "$ref": "#/components/schemas/status"
          }
        }
      },
      "EmailDomainBase": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "weyland-yutani.com",
            "description": "Email domain name.\n\nIf only fragment is provided, the `name.helpdesk.com` domain will be created. If full domain is provided, ownership verification will be performed during this API call. The system will look for `CNAME` record with hostname of `hd-<licenseID>.yourdomain.com` pointing to `helpdesk.com`. The request will fail if no such record is found.\n"
          }
        }
      },
      "EmailDomainResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ObjectBase"
          },
          {
            "$ref": "#/components/schemas/EmailDomainBase"
          },
          {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "new",
                  "pendingConfiguration",
                  "pendingVerification",
                  "active",
                  "pendingDeletion",
                  "setupFailed"
                ],
                "description": "Domain status\n\n| Status | Description |\n|-|-|\n| `new` | domain just added |\n| `pendingConfiguration` | domain need additional records in DNS |\n| `pendingVerification` | domain is being verified |\n| `active` | domain is ready to use |\n| `setupFailed` | domain setup failed - manual steps required |\n"
              },
              "dns": {
                "type": "object",
                "description": "DNS records that have to be set in domain DNS",
                "properties": {
                  "TXT": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "host": {
                          "type": "string",
                          "example": "pm-bounces.livechatinc.com"
                        },
                        "value": {
                          "type": "string",
                          "example": "pm.mtasv.net"
                        }
                      }
                    }
                  },
                  "CNAME": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "host": {
                          "type": "string",
                          "example": "20200212092056pm._domainkey.livechatinc.com"
                        },
                        "value": {
                          "type": "string",
                          "example": "k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCmpdz31Mee4R2wdh/2SbapQRiUsTg+gi6IyyOUopKxBf5OqFXI4YIvxIisMIHWs1t2QBb5/StR6a1Tp5H3YxJ/ooMeto2+GsZVbolMX9Tl/gKyP/+9hJD+OWoxi7IzY/SYj0rE9BgmrUdam+Nkm7emFZHK2LbkhEow5XPoFPD50QIDAQAB"
                        }
                      }
                    }
                  }
                }
              },
              "flags": {
                "type": "object",
                "properties": {
                  "inboxUsed": {
                    "type": "boolean",
                    "description": "There was an email forwarded to this domain"
                  }
                }
              }
            }
          }
        ]
      },
      "EmailDomainCreate": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EmailDomainBase"
          },
          {
            "type": "object",
            "required": [
              "name"
            ]
          }
        ]
      },
      "properties-name": {
        "type": "string",
        "example": "weyland-yutani.com",
        "description": "Email domain name.\n\nIf only fragment is provided, the `name.helpdesk.com` domain will be created. If full domain is provided, ownership verification will be performed during this API call. The system will look for `CNAME` record with hostname of `hd-<licenseID>.yourdomain.com` pointing to `helpdesk.com`. The request will fail if no such record is found.\n"
      },
      "MailboxBase": {
        "type": "object",
        "properties": {
          "teamID": {
            "type": "string",
            "format": "uuid",
            "example": "c0667eef-641d-4ec1-8841-70369193c95e",
            "description": "Team automatically assigned to tickets coming to this mailbox"
          },
          "agentID": {
            "nullable": true,
            "type": "string",
            "format": "uuid",
            "example": "74c65f91-93f2-4eb5-9483-96ac7fa9011a",
            "description": "Agent automatically assigned to tickets coming to this mailbox. Agent must be a member of the team."
          },
          "description": {
            "type": "string",
            "example": "Main forwarding address",
            "description": "Custom description"
          }
        }
      },
      "MailboxResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ObjectBase"
          },
          {
            "$ref": "#/components/schemas/MailboxBase"
          },
          {
            "type": "object",
            "properties": {
              "flags": {
                "type": "object",
                "properties": {
                  "inboxUsed": {
                    "type": "boolean",
                    "description": "There was an email forwarded to this mailbox"
                  }
                }
              }
            }
          }
        ]
      },
      "MailboxCreate": {
        "allOf": [
          {
            "$ref": "#/components/schemas/MailboxBase"
          },
          {
            "type": "object",
            "required": [
              "teamID"
            ]
          }
        ]
      },
      "properties-teamID": {
        "type": "string",
        "format": "uuid",
        "example": "c0667eef-641d-4ec1-8841-70369193c95e",
        "description": "Team automatically assigned to tickets coming to this mailbox"
      },
      "agentID": {
        "nullable": true,
        "type": "string",
        "format": "uuid",
        "example": "74c65f91-93f2-4eb5-9483-96ac7fa9011a",
        "description": "Agent automatically assigned to tickets coming to this mailbox. Agent must be a member of the team."
      },
      "MailboxUpdate": {
        "type": "object",
        "properties": {
          "teamID": {
            "$ref": "#/components/schemas/properties-teamID"
          },
          "agentID": {
            "$ref": "#/components/schemas/agentID"
          }
        }
      },
      "LicenseBase": {
        "type": "object",
        "properties": {
          "defaultTeamID": {
            "type": "string",
            "example": "f56caf69-3f05-4386-9567-fdc909d7ad77",
            "description": "Default team"
          },
          "defaultTemplateID": {
            "type": "string",
            "format": "uuid",
            "example": "6712e8a9-3401-4ed3-9662-944aa6be817f",
            "description": "Default template ID"
          },
          "flags": {
            "type": "object",
            "properties": {
              "defaultInboxUsed": {
                "type": "boolean",
                "default": false
              }
            }
          },
          "settings": {
            "type": "object",
            "properties": {
              "companyName": {
                "type": "string",
                "example": "Weyland-Yutani"
              },
              "externalTickets": {
                "type": "boolean"
              },
              "ticketThread": {
                "type": "boolean"
              },
              "maxSubscriptionsPerSocket": {
                "type": "number"
              },
              "defaultMailboxDescription": {
                "type": "string"
              },
              "maxChildTicketsPerTicket": {
                "type": "number"
              },
              "poweredByFooter": {
                "type": "boolean",
                "description": "\\\"Powered by Helpdesk\\\" footer in email visibility"
              }
            }
          },
          "source": {
            "type": "object",
            "properties": {
              "utmSource": {
                "type": "string"
              },
              "utmMedium": {
                "type": "string"
              },
              "utmCampaign": {
                "type": "string"
              },
              "utmContent": {
                "type": "string"
              },
              "utmTerm": {
                "type": "string"
              },
              "referrer": {
                "type": "string"
              },
              "landingPage": {
                "type": "string"
              },
              "sourceURL": {
                "type": "string"
              },
              "sourceID": {
                "type": "string"
              },
              "sourceType": {
                "type": "string"
              }
            }
          },
          "detectedLanguages": {
            "type": "array",
            "description": "List of detected languages in tickets",
            "items": {
              "enum": [
                "none",
                "af",
                "als",
                "am",
                "an",
                "ar",
                "arz",
                "as",
                "ast",
                "av",
                "az",
                "azb",
                "ba",
                "bar",
                "bcl",
                "be",
                "bg",
                "bh",
                "bn",
                "bo",
                "bpy",
                "br",
                "bs",
                "bxr",
                "ca",
                "cbk",
                "ce",
                "ceb",
                "ckb",
                "co",
                "cs",
                "cv",
                "cy",
                "da",
                "de",
                "diq",
                "dsb",
                "dty",
                "dv",
                "el",
                "eml",
                "en",
                "eo",
                "es",
                "et",
                "eu",
                "fa",
                "fi",
                "fr",
                "frr",
                "fy",
                "ga",
                "gd",
                "gl",
                "gn",
                "gom",
                "gu",
                "gv",
                "he",
                "hi",
                "hif",
                "hr",
                "hsb",
                "ht",
                "hu",
                "hy",
                "ia",
                "id",
                "ie",
                "ilo",
                "io",
                "is",
                "it",
                "ja",
                "jbo",
                "jv",
                "ka",
                "kk",
                "km",
                "kn",
                "ko",
                "krc",
                "ku",
                "kv",
                "kw",
                "ky",
                "la",
                "lb",
                "lez",
                "li",
                "lmo",
                "lo",
                "lrc",
                "lt",
                "lv",
                "mai",
                "mg",
                "mhr",
                "min",
                "mk",
                "ml",
                "mn",
                "mr",
                "mrj",
                "ms",
                "mt",
                "mwl",
                "my",
                "myv",
                "mzn",
                "nah",
                "nap",
                "nds",
                "ne",
                "new",
                "nl",
                "nn",
                "no",
                "oc",
                "or",
                "os",
                "pa",
                "pam",
                "pfl",
                "pl",
                "pms",
                "pnb",
                "ps",
                "pt",
                "qu",
                "rm",
                "ro",
                "ru",
                "rue",
                "sa",
                "sah",
                "sc",
                "scn",
                "sco",
                "sd",
                "sh",
                "si",
                "sk",
                "sl",
                "so",
                "sq",
                "sr",
                "su",
                "sv",
                "sw",
                "ta",
                "te",
                "tg",
                "th",
                "tk",
                "tl",
                "tr",
                "tt",
                "tyv",
                "ug",
                "uk",
                "ur",
                "uz",
                "vec",
                "vep",
                "vi",
                "vls",
                "vo",
                "wa",
                "war",
                "wuu",
                "xal",
                "xmf",
                "yi",
                "yo",
                "yue",
                "zh"
              ]
            }
          }
        }
      },
      "LicenseResult": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "ID": {
                "type": "integer",
                "example": 13381337,
                "description": "Unique account identifier"
              },
              "createdAt": {
                "type": "string",
                "example": "2020-04-30T22:02:08.901Z",
                "description": "Time of creation"
              },
              "createdBy": {
                "type": "string",
                "example": "f56caf69-3f05-4386-9567-fdc909d7ad77",
                "description": "Creator identifier"
              },
              "createdByType": {
                "type": "string",
                "enum": [
                  "agent",
                  "client",
                  "system"
                ],
                "description": "Creator type"
              },
              "updatedAt": {
                "type": "string",
                "example": "2020-04-30T22:02:08.901Z",
                "description": "Time of last modification"
              },
              "updatedBy": {
                "type": "string",
                "example": "f56caf69-3f05-4386-9567-fdc909d7ad77",
                "description": "Modification author identifier"
              }
            }
          },
          {
            "$ref": "#/components/schemas/LicenseBase"
          }
        ]
      },
      "source": {
        "type": "object",
        "properties": {
          "utmSource": {
            "type": "string"
          },
          "utmMedium": {
            "type": "string"
          },
          "utmCampaign": {
            "type": "string"
          },
          "utmContent": {
            "type": "string"
          },
          "utmTerm": {
            "type": "string"
          },
          "referrer": {
            "type": "string"
          },
          "landingPage": {
            "type": "string"
          },
          "sourceURL": {
            "type": "string"
          },
          "sourceID": {
            "type": "string"
          },
          "sourceType": {
            "type": "string"
          }
        }
      },
      "LicenseCreate": {
        "type": "object",
        "properties": {
          "planCode": {
            "type": "string",
            "enum": [
              "hd-team1m",
              "hd-team3m",
              "hd-team12m",
              "hd-team36m",
              "hd-enterprise1m",
              "hd-enterprise3m",
              "hd-enterprise6m",
              "hd-enterprise12m",
              "hd-enterprise24m",
              "hd-enterprise36m"
            ]
          },
          "couponCode": {
            "type": "string"
          },
          "source": {
            "$ref": "#/components/schemas/source"
          }
        },
        "required": [
          "planCode"
        ]
      },
      "defaultTeamID": {
        "type": "string",
        "example": "f56caf69-3f05-4386-9567-fdc909d7ad77",
        "description": "Default team"
      },
      "defaultTemplateID": {
        "type": "string",
        "format": "uuid",
        "example": "6712e8a9-3401-4ed3-9662-944aa6be817f",
        "description": "Default template ID"
      },
      "properties-settings": {
        "type": "object",
        "properties": {
          "companyName": {
            "type": "string",
            "example": "Weyland-Yutani"
          },
          "externalTickets": {
            "type": "boolean"
          },
          "ticketThread": {
            "type": "boolean"
          },
          "maxSubscriptionsPerSocket": {
            "type": "number"
          },
          "defaultMailboxDescription": {
            "type": "string"
          },
          "maxChildTicketsPerTicket": {
            "type": "number"
          },
          "poweredByFooter": {
            "type": "boolean",
            "description": "\\\"Powered by Helpdesk\\\" footer in email visibility"
          }
        }
      },
      "LicenseUpdate": {
        "type": "object",
        "properties": {
          "defaultTeamID": {
            "$ref": "#/components/schemas/defaultTeamID"
          },
          "defaultTemplateID": {
            "$ref": "#/components/schemas/defaultTemplateID"
          },
          "settings": {
            "$ref": "#/components/schemas/properties-settings"
          }
        }
      },
      "ReplyAddressBase": {
        "type": "object",
        "properties": {
          "prefix": {
            "type": "string",
            "example": "support",
            "description": "Email part before `@`"
          },
          "emailDomainID": {
            "type": "string",
            "format": "uuid",
            "description": "Verified email domain ID",
            "example": "05f1856c-9d90-403c-8068-312a0b76bd29"
          }
        }
      },
      "ReplyAddressResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ObjectBase"
          },
          {
            "$ref": "#/components/schemas/ReplyAddressBase"
          },
          {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email",
                "description": "Complete email address"
              },
              "verified": {
                "type": "boolean",
                "description": "Is reply address verified"
              }
            }
          }
        ]
      },
      "ReplyAddressCreate": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ReplyAddressBase"
          },
          {
            "type": "object",
            "required": [
              "prefix",
              "emailDomainID"
            ]
          }
        ]
      },
      "ReportBase": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Sales report",
            "description": "Report name"
          },
          "settings": {
            "type": "object",
            "properties": {
              "notifyReportAboutRequestersActivity": {
                "type": "boolean",
                "default": true
              },
              "notifyReportAboutAssignedTicket": {
                "type": "boolean",
                "default": true
              },
              "unauthReplyCreatesNewTicket": {
                "type": "boolean",
                "default": false
              }
            }
          }
        }
      },
      "ReportResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ObjectBase"
          },
          {
            "$ref": "#/components/schemas/ReportBase"
          },
          {
            "type": "object",
            "properties": {
              "integrations": {
                "type": "object",
                "description": "External integrations data"
              }
            }
          }
        ]
      },
      "TicketPriority": {
        "type": "integer",
        "enum": [
          -10,
          0,
          10,
          20
        ],
        "default": 0,
        "description": "| Value | Priority    |\n|-----|--------|\n| -10 | low    |\n| 0   | medium |\n| 10  | high   |\n| 20  | urgent |\n"
      },
      "TicketPriorityOperator": {
        "type": "string",
        "enum": [
          "eq",
          "gt",
          "lt",
          "gte",
          "lte"
        ],
        "default": "eq",
        "description": "| Value | Operator    |\n|-----|--------|\n| eq | equal    |\n| gt   | greater than |\n| lt  | lesser than   |\n| gte  | greater or equal |\n| lte  | lesser of equal |\n"
      },
      "RuleTrigger": {
        "type": "object"
      },
      "RuleAssignAction": {
        "type": "object",
        "properties": {
          "type": {
            "enum": [
              "assign"
            ]
          },
          "teamID": {
            "type": "string",
            "example": "5f4b1f3b-4b7b-4b7b-8b7b-4b7b4b7b4b7b",
            "description": "Team ID",
            "nullable": true
          },
          "randomAgent": {
            "type": "boolean",
            "example": true,
            "description": "Assign to random agent"
          },
          "roundRobin": {
            "type": "boolean",
            "example": true,
            "description": "Assign in round robin"
          },
          "agentID": {
            "type": "string",
            "example": "5f4b1f3b-4b7b-4b7b-8b7b-4b7b4b7b4b7b",
            "description": "Agent ID",
            "nullable": true
          }
        },
        "required": [
          "type",
          "teamID"
        ]
      },
      "RuleSendRatingRequestAction": {
        "type": "object",
        "properties": {
          "type": {
            "enum": [
              "sendRatingRequest"
            ]
          },
          "template": {
            "type": "object",
            "properties": {
              "text": {
                "type": "string",
                "description": "Must be a mustache template"
              }
            }
          },
          "cannedResponseID": {
            "type": "string",
            "example": "5f4b1f3b-4b7b-4b7b-8b7b-4b7b4b7b4b7b",
            "description": "Canned response ID"
          }
        },
        "required": [
          "type"
        ]
      },
      "RuleSendFollowUpAction": {
        "type": "object",
        "properties": {
          "type": {
            "enum": [
              "sendFollowUp"
            ]
          },
          "template": {
            "type": "object",
            "properties": {
              "text": {
                "type": "string",
                "description": "Must be a mustache template"
              }
            }
          },
          "cannedResponseID": {
            "type": "string",
            "example": "5f4b1f3b-4b7b-4b7b-8b7b-4b7b4b7b4b7b",
            "description": "Canned response ID"
          }
        },
        "required": [
          "type"
        ]
      },
      "RuleMessageAction": {
        "type": "object",
        "properties": {
          "type": {
            "enum": [
              "message"
            ]
          },
          "template": {
            "type": "object",
            "properties": {
              "text": {
                "type": "string",
                "description": "Must be a mustache template"
              }
            }
          },
          "cannedResponseID": {
            "type": "string",
            "example": "5f4b1f3b-4b7b-4b7b-8b7b-4b7b4b7b4b7b",
            "description": "Canned response ID"
          },
          "isPrivate": {
            "type": "boolean",
            "example": true,
            "description": "Is message private"
          }
        },
        "required": [
          "type"
        ]
      },
      "RuleStatusAction": {
        "type": "object",
        "properties": {
          "type": {
            "enum": [
              "status"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "pending",
              "onhold",
              "solved",
              "closed"
            ]
          }
        },
        "required": [
          "type",
          "status"
        ]
      },
      "RulePriorityAction": {
        "type": "object",
        "properties": {
          "type": {
            "enum": [
              "priority"
            ]
          },
          "priority": {
            "type": "number",
            "enum": [
              -10,
              0,
              10,
              20
            ]
          }
        },
        "required": [
          "type",
          "priority"
        ]
      },
      "RuleSpamAction": {
        "type": "object",
        "properties": {
          "type": {
            "enum": [
              "spam"
            ]
          },
          "spam": {
            "type": "boolean",
            "example": true
          }
        },
        "required": [
          "type",
          "spam"
        ]
      },
      "RuleAddTagsAction": {
        "type": "object",
        "properties": {
          "type": {
            "enum": [
              "addTags"
            ]
          },
          "tagIDs": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "5f4b1f3b-4b7b-4b7b-8b7b-4b7b4b7b4b7b"
            },
            "uniqueItems": true,
            "minItems": 0,
            "maxItems": 200,
            "description": "Array of tags IDs"
          }
        },
        "required": [
          "type",
          "tagIDs"
        ]
      },
      "RuleRemoveTagsAction": {
        "type": "object",
        "properties": {
          "type": {
            "enum": [
              "removeTags"
            ]
          },
          "tagIDs": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "5f4b1f3b-4b7b-4b7b-8b7b-4b7b4b7b4b7b"
            },
            "uniqueItems": true,
            "minItems": 0,
            "maxItems": 200,
            "description": "Array of tags IDs"
          }
        },
        "required": [
          "type",
          "tagIDs"
        ]
      },
      "RuleAddFollowersAction": {
        "type": "object",
        "properties": {
          "type": {
            "enum": [
              "addFollowers"
            ]
          },
          "followers": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "5f4b1f3b-4b7b-4b7b-8b7b-4b7b4b7b4b7b"
            },
            "uniqueItems": true,
            "minItems": 0,
            "maxItems": 200,
            "description": "Array of follower IDs"
          }
        },
        "required": [
          "type",
          "followers"
        ]
      },
      "RuleRemoveFollowersAction": {
        "type": "object",
        "properties": {
          "type": {
            "enum": [
              "removeFollowers"
            ]
          },
          "followers": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "5f4b1f3b-4b7b-4b7b-8b7b-4b7b4b7b4b7b"
            },
            "uniqueItems": true,
            "minItems": 0,
            "maxItems": 200,
            "description": "Array of follower IDs"
          }
        },
        "required": [
          "type",
          "followers"
        ]
      },
      "RuleAction": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/RuleAssignAction"
          },
          {
            "$ref": "#/components/schemas/RuleSendRatingRequestAction"
          },
          {
            "$ref": "#/components/schemas/RuleSendFollowUpAction"
          },
          {
            "$ref": "#/components/schemas/RuleMessageAction"
          },
          {
            "$ref": "#/components/schemas/RuleStatusAction"
          },
          {
            "$ref": "#/components/schemas/RulePriorityAction"
          },
          {
            "$ref": "#/components/schemas/RuleSpamAction"
          },
          {
            "$ref": "#/components/schemas/RuleAddTagsAction"
          },
          {
            "$ref": "#/components/schemas/RuleRemoveTagsAction"
          },
          {
            "$ref": "#/components/schemas/RuleAddFollowersAction"
          },
          {
            "$ref": "#/components/schemas/RuleRemoveFollowersAction"
          }
        ]
      },
      "RuleBase": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Pending to closed",
            "description": "Rule name"
          },
          "description": {
            "type": "string",
            "example": "Set ticket to closed after 3 days when pending",
            "description": "Rule description"
          },
          "type": {
            "type": "string",
            "enum": [
              "tickets"
            ],
            "description": "Rules domain"
          },
          "ordering": {
            "type": "integer",
            "example": 100,
            "description": "Rule execution order"
          },
          "active": {
            "type": "boolean",
            "description": "Is rule active"
          },
          "quantifier": {
            "type": "string",
            "enum": [
              "all",
              "any"
            ],
            "description": "| Quantifier | Description |\n|-|-|\n| `all` | all triggers are required to invoke actions (AND) |\n| `any` | any trigger suffice to invoke actions (OR) |\n"
          },
          "triggers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RuleTrigger"
            }
          },
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RuleAction"
            }
          },
          "useCounter": {
            "type": "number",
            "example": 153,
            "description": "Rule use counter"
          }
        }
      },
      "RuleResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ObjectBase"
          },
          {
            "$ref": "#/components/schemas/RuleBase"
          }
        ]
      },
      "RuleCreate": {
        "allOf": [
          {
            "$ref": "#/components/schemas/RuleBase"
          },
          {
            "type": "object",
            "required": [
              "name",
              "type",
              "ordering",
              "quantifier",
              "active",
              "triggers",
              "actions"
            ]
          }
        ]
      },
      "RuleBase-properties-name": {
        "type": "string",
        "example": "Pending to closed",
        "description": "Rule name"
      },
      "description": {
        "type": "string",
        "example": "Set ticket to closed after 3 days when pending",
        "description": "Rule description"
      },
      "ordering": {
        "type": "integer",
        "example": 100,
        "description": "Rule execution order"
      },
      "quantifier": {
        "type": "string",
        "enum": [
          "all",
          "any"
        ],
        "description": "| Quantifier | Description |\n|-|-|\n| `all` | all triggers are required to invoke actions (AND) |\n| `any` | any trigger suffice to invoke actions (OR) |\n"
      },
      "active": {
        "type": "boolean",
        "description": "Is rule active"
      },
      "triggers": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/RuleTrigger"
        }
      },
      "actions": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/RuleAction"
        }
      },
      "RuleUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/RuleBase-properties-name"
          },
          "description": {
            "$ref": "#/components/schemas/description"
          },
          "ordering": {
            "$ref": "#/components/schemas/ordering"
          },
          "quantifier": {
            "$ref": "#/components/schemas/quantifier"
          },
          "active": {
            "$ref": "#/components/schemas/active"
          },
          "triggers": {
            "$ref": "#/components/schemas/triggers"
          },
          "actions": {
            "$ref": "#/components/schemas/actions"
          }
        }
      },
      "MacroBase": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "My macro",
            "description": "Macors name"
          },
          "description": {
            "type": "string",
            "example": "My macro description",
            "description": "Macros description"
          },
          "teamIDs": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "example": [
              "84c11d7d-5caa-4875-a74e-eb23e902041f"
            ],
            "description": "This is a list of teams where the macro will be available. If set to `null`, the macro will be accessible in all teams. If you provide an empty array, the macro will not be available in any team.",
            "nullable": true
          },
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RuleAction"
            }
          }
        }
      },
      "MacroResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ObjectBase"
          },
          {
            "type": "object",
            "properties": {
              "agentID": {
                "$ref": "#/components/schemas/ID"
              }
            }
          },
          {
            "$ref": "#/components/schemas/MacroBase"
          }
        ]
      },
      "MacroCreate": {
        "allOf": [
          {
            "$ref": "#/components/schemas/MacroBase"
          },
          {
            "type": "object",
            "properties": {
              "shared": {
                "type": "boolean",
                "description": "If a macro is shared, it becomes visible to all agents, regardless of macros `teamIDs` list. The creation of shared macros is a privilege reserved for administrators."
              }
            }
          },
          {
            "type": "object",
            "required": [
              "name",
              "actions"
            ]
          }
        ]
      },
      "MacroUpdate": {
        "allOf": [
          {
            "$ref": "#/components/schemas/MacroBase"
          },
          {
            "type": "object",
            "properties": {
              "shared": {
                "type": "boolean",
                "description": "If a macro is shared, it becomes visible to all agents, regardless of macros `teamIDs` list. The edition of shared macros is a privilege reserved for administrators."
              }
            }
          }
        ]
      },
      "ListedEmailBase": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "example": "some@example.com",
            "description": "Email address or domain name",
            "format": "email"
          }
        }
      },
      "ListedEmailResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ObjectBase"
          },
          {
            "$ref": "#/components/schemas/ListedEmailBase"
          }
        ]
      },
      "ListedEmailCreate": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ListedEmailBase"
          },
          {
            "type": "object",
            "required": [
              "email"
            ]
          }
        ]
      },
      "PlanCode": {
        "type": "string",
        "enum": [
          "hd-team1m",
          "hd-team3m",
          "hd-team12m",
          "hd-team36m",
          "hd-enterprise1m",
          "hd-enterprise3m",
          "hd-enterprise6m",
          "hd-enterprise12m",
          "hd-enterprise24m",
          "hd-enterprise36m"
        ],
        "description": "HelpDesk plan code"
      },
      "SubscriptionState": {
        "type": "string",
        "enum": [
          "active",
          "expired",
          "canceled",
          "future",
          "pending"
        ],
        "description": "Subscription state"
      },
      "SubscriptionResult": {
        "type": "object",
        "properties": {
          "state": {
            "$ref": "#/components/schemas/SubscriptionState"
          },
          "quantity": {
            "type": "integer",
            "description": "Number of agents possible",
            "example": 12
          },
          "subscriptionID": {
            "type": "string",
            "format": "uuid",
            "example": "b20f93c2-9e52-457b-abd0-e2d56490a4e6",
            "description": "Subscription ID"
          },
          "licenseID": {
            "type": "integer",
            "example": 1338,
            "description": "License ID"
          },
          "planCode": {
            "$ref": "#/components/schemas/PlanCode"
          },
          "unitAmountInCents": {
            "type": "integer",
            "example": 2400,
            "description": "Price per agent in cents"
          },
          "activatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2019-08-14T13:18:20Z",
            "description": "Time of activation"
          },
          "cancelledAt": {
            "nullable": true,
            "type": "string",
            "format": "date-time",
            "example": "2019-08-14T13:18:20Z",
            "description": "Time of cancelation"
          },
          "expiresAt": {
            "nullable": true,
            "type": "string",
            "format": "date-time",
            "example": "2019-08-14T13:18:20Z",
            "description": "Time of expiration"
          },
          "trialStartedAt": {
            "nullable": true,
            "type": "string",
            "format": "date-time",
            "example": "2019-08-14T13:18:20Z",
            "description": "Time of trial start"
          },
          "trialEndsAt": {
            "nullable": true,
            "type": "string",
            "format": "date-time",
            "example": "2019-08-14T13:18:20Z",
            "description": "Time of trial end"
          },
          "currentPeriodStartedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2019-08-14T13:18:20Z",
            "description": "Time of current period start"
          },
          "currentPeriodEndsAt": {
            "type": "string",
            "format": "date-time",
            "example": "2019-08-14T13:18:20Z",
            "description": "Time of current period end"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2019-08-14T13:18:20Z",
            "description": "Time of creation"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2019-08-14T13:18:20Z",
            "description": "Time of last update"
          }
        }
      },
      "SubscriptionBase": {
        "type": "object",
        "properties": {
          "planCode": {
            "$ref": "#/components/schemas/PlanCode"
          },
          "quantity": {
            "type": "integer",
            "min": 1,
            "description": "Number of agents possible"
          },
          "couponCode": {
            "type": "string",
            "description": "Discount code"
          }
        }
      },
      "SubscriptionCreate": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SubscriptionBase"
          },
          {
            "type": "object",
            "required": [
              "planCode",
              "quantity"
            ]
          }
        ]
      },
      "TagBase": {
        "type": "object",
        "properties": {
          "teamID": {
            "type": "string",
            "example": "f56caf69-3f05-4386-9567-fdc909d7ad77",
            "description": "Tag team"
          },
          "name": {
            "type": "string",
            "example": "Return",
            "description": "Tag name"
          }
        }
      },
      "TagResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ObjectBase"
          },
          {
            "$ref": "#/components/schemas/TagBase"
          },
          {
            "type": "object",
            "properties": {
              "count": {
                "type": "number",
                "description": "Number of tickets using this tag",
                "example": 0
              }
            }
          }
        ]
      },
      "TagCreate": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TagBase"
          },
          {
            "type": "object",
            "required": [
              "teamID",
              "name"
            ]
          }
        ]
      },
      "TagBase-properties-teamID": {
        "type": "string",
        "example": "f56caf69-3f05-4386-9567-fdc909d7ad77",
        "description": "Tag team"
      },
      "TagBase-properties-name": {
        "type": "string",
        "example": "Return",
        "description": "Tag name"
      },
      "TagUpdate": {
        "type": "object",
        "properties": {
          "teamID": {
            "$ref": "#/components/schemas/TagBase-properties-teamID"
          },
          "name": {
            "$ref": "#/components/schemas/TagBase-properties-name"
          }
        }
      },
      "TeamBase": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Sales team",
            "description": "Team name"
          },
          "settings": {
            "type": "object",
            "properties": {
              "notifyTeamAboutRequestersActivity": {
                "type": "boolean",
                "default": true
              },
              "notifyTeamAboutAssignedTicket": {
                "type": "boolean",
                "default": true
              },
              "unauthReplyCreatesNewTicket": {
                "type": "boolean",
                "default": false
              },
              "tagReminder": {
                "type": "boolean",
                "default": true
              }
            }
          },
          "replyAddressID": {
            "type": "string",
            "format": "uuid",
            "description": "Reply address ID",
            "example": "9dd9e888-b42e-46c1-aa63-20cb5354c28c"
          },
          "replyName": {
            "type": "string",
            "description": "From name visible in reply email",
            "example": "Company / Support"
          },
          "templateID": {
            "type": "string",
            "format": "uuid",
            "description": "Template ID",
            "example": "6712e8a9-3401-4ed3-9662-944aa6be817f"
          }
        }
      },
      "TeamResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ObjectBase"
          },
          {
            "$ref": "#/components/schemas/TeamBase"
          },
          {
            "type": "object",
            "properties": {
              "integrations": {
                "type": "object",
                "description": "External integrations data"
              }
            }
          }
        ]
      },
      "AutoassignmentAgents": {
        "type": "object",
        "properties": {
          "autoassignmentAgentIDs": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "List of agents that will be considered for ticket assignment within the team.",
            "example": [
              "9dd9e888-b42e-46c1-aa63-20cb5354c28c"
            ]
          }
        }
      },
      "TeamCreate": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TeamBase"
          },
          {
            "type": "object",
            "required": [
              "name"
            ]
          },
          {
            "$ref": "#/components/schemas/AutoassignmentAgents"
          }
        ]
      },
      "replyAddressID": {
        "type": "string",
        "format": "uuid",
        "description": "Reply address ID",
        "example": "9dd9e888-b42e-46c1-aa63-20cb5354c28c"
      },
      "replyName": {
        "type": "string",
        "description": "From name visible in reply email",
        "example": "Company / Support"
      },
      "TeamBase-properties-settings": {
        "type": "object",
        "properties": {
          "notifyTeamAboutRequestersActivity": {
            "type": "boolean",
            "default": true
          },
          "notifyTeamAboutAssignedTicket": {
            "type": "boolean",
            "default": true
          },
          "unauthReplyCreatesNewTicket": {
            "type": "boolean",
            "default": false
          },
          "tagReminder": {
            "type": "boolean",
            "default": true
          }
        }
      },
      "templateID": {
        "type": "string",
        "format": "uuid",
        "description": "Template ID",
        "example": "6712e8a9-3401-4ed3-9662-944aa6be817f"
      },
      "TeamBase-properties-name": {
        "type": "string",
        "example": "Sales team",
        "description": "Team name"
      },
      "autoassignmentAgentIDs": {
        "type": "array",
        "items": {
          "type": "string",
          "format": "uuid"
        },
        "description": "List of agents that will be considered for ticket assignment within the team.",
        "example": [
          "9dd9e888-b42e-46c1-aa63-20cb5354c28c"
        ]
      },
      "TeamUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/TeamBase-properties-name"
          },
          "settings": {
            "$ref": "#/components/schemas/TeamBase-properties-settings"
          },
          "replyAddressID": {
            "$ref": "#/components/schemas/replyAddressID"
          },
          "replyName": {
            "$ref": "#/components/schemas/replyName"
          },
          "templateID": {
            "$ref": "#/components/schemas/templateID"
          },
          "autoassignmentAgentIDs": {
            "$ref": "#/components/schemas/autoassignmentAgentIDs"
          }
        }
      },
      "AnyValue": {
        "description": "Any value"
      },
      "TemplateBase": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Main template",
            "description": "Template name"
          },
          "content": {
            "type": "object",
            "properties": {
              "text": {
                "type": "string",
                "description": "Template text version"
              },
              "html": {
                "type": "string",
                "description": "Template HTML or Visual version"
              },
              "appearance": {
                "type": "object",
                "description": "Template appearance object. Describes what variables, and with which values, will be replaced in the template. Variables should be placed in the `html` property in Mustache format with custom delimiters `<%%` and `%%>`). If template type is `visual`, then `appearance` is required.",
                "additionalProperties": {
                  "type": "object",
                  "description": "Variable that will be replaced in the template. Key is a variable name, that should be placed in the `html` property in Mustache format with custom delimiters `<%%` and `%%>`.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "color",
                        "url",
                        "richTextObj",
                        "boolean"
                      ]
                    },
                    "value": {
                      "$ref": "#/components/schemas/AnyValue",
                      "description": "According to `type` value should be: \n- `color` - hex color string \n- `url` - url string \n- `richTextObj` - rich text object \n- `boolean` - boolean value"
                    }
                  }
                }
              }
            },
            "required": [
              "text",
              "html"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "html",
              "visual"
            ],
            "description": "Template type",
            "example": "html"
          }
        }
      },
      "TemplateResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ObjectBase"
          },
          {
            "$ref": "#/components/schemas/TemplateBase"
          },
          {
            "type": "object",
            "properties": {
              "attachments": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Attachment"
                },
                "description": "Attachment list. Currently only template logo is supported."
              }
            }
          }
        ]
      },
      "TemplateCreate": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TemplateBase"
          },
          {
            "type": "object",
            "required": [
              "name",
              "content"
            ]
          },
          {
            "type": "object",
            "properties": {
              "transactionID": {
                "type": "string",
                "format": "uuid",
                "description": "References transaction containing uploaded attachment used in template as logo",
                "example": "050340e4-82de-4a2a-a1c4-724dfaf66cec"
              }
            }
          }
        ]
      },
      "TemplateBase-properties-name": {
        "type": "string",
        "example": "Main template",
        "description": "Template name"
      },
      "content": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "Template text version"
          },
          "html": {
            "type": "string",
            "description": "Template HTML or Visual version"
          },
          "appearance": {
            "type": "object",
            "description": "Template appearance object. Describes what variables, and with which values, will be replaced in the template. Variables should be placed in the `html` property in Mustache format with custom delimiters `<%%` and `%%>`). If template type is `visual`, then `appearance` is required.",
            "additionalProperties": {
              "type": "object",
              "description": "Variable that will be replaced in the template. Key is a variable name, that should be placed in the `html` property in Mustache format with custom delimiters `<%%` and `%%>`.",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "color",
                    "url",
                    "richTextObj",
                    "boolean"
                  ]
                },
                "value": {
                  "$ref": "#/components/schemas/AnyValue",
                  "description": "According to `type` value should be: \n- `color` - hex color string \n- `url` - url string \n- `richTextObj` - rich text object \n- `boolean` - boolean value"
                }
              }
            }
          }
        },
        "required": [
          "text",
          "html"
        ]
      },
      "TemplateUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/TemplateBase-properties-name"
          },
          "content": {
            "$ref": "#/components/schemas/content"
          },
          "transactionID": {
            "type": "string",
            "format": "uuid",
            "description": "References transaction containing uploaded attachment used in template as logo",
            "example": "050340e4-82de-4a2a-a1c4-724dfaf66cec"
          }
        }
      },
      "type": {
        "type": "string",
        "enum": [
          "html",
          "visual"
        ],
        "description": "Template type",
        "example": "html"
      },
      "AuditLogResult": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "string",
            "example": "42e113f9-9353-4e89-9f68-69b92f423b0c",
            "description": "Unique object identifier",
            "format": "uuid"
          },
          "createdAt": {
            "type": "string",
            "example": "2020-04-30T22:02:08.901Z",
            "description": "Time of creation",
            "format": "date-time"
          },
          "action": {
            "type": "string",
            "description": "Action on entity"
          },
          "target": {
            "type": "string",
            "description": "Entity"
          },
          "author": {
            "type": "object",
            "properties": {
              "ID": {
                "type": "string",
                "example": "42e113f9-9353-4e89-9f68-69b92f423b0c",
                "description": "Unique author identifier, when author is agent",
                "format": "uuid"
              },
              "type": {
                "type": "string",
                "enum": [
                  "administrator",
                  "agent",
                  "api",
                  "scheduledTask",
                  "emailMessage",
                  "paymentProvider",
                  "helpdeskSystem"
                ],
                "description": "Type of author of action"
              },
              "email": {
                "type": "string",
                "description": "When author is email mesage"
              },
              "ip": {
                "type": "string",
                "description": "IP address of author when author is agent, HelpDesk system or API"
              },
              "userAgent": {
                "type": "string",
                "description": "User agent of author"
              }
            }
          },
          "entityName": {
            "type": "string",
            "description": "Name of entity"
          }
        }
      },
      "TicketStatus": {
        "type": "string",
        "enum": [
          "open",
          "pending",
          "onhold",
          "solved",
          "closed"
        ],
        "default": "open",
        "description": "Ticket status"
      },
      "TicketCustomFields": {
        "type": "object",
        "example": {
          "order-id": "1234"
        },
        "description": "Object with custom fields values, where key is custom fields apiKey."
      },
      "TicketRating": {
        "type": "string",
        "enum": [
          "good",
          "bad",
          "neutral"
        ],
        "description": "Ticket rating"
      },
      "TicketSilo": {
        "type": "string",
        "enum": [
          "tickets",
          "archive",
          "trash",
          "spam"
        ],
        "default": "tickets",
        "description": "Ticket silo (folder). Please check [ticket silos](#section/Common-notions/Ticket-silos-(folders)) section for more information"
      },
      "RelativeDate": {
        "oneOf": [
          {
            "type": "string",
            "format": "date-time"
          },
          {
            "type": "string",
            "pattern": "^(-[0-9]{1,5})([hHdDM])$"
          }
        ]
      },
      "TicketPaginationPageSize": {
        "type": "integer",
        "default": 20,
        "maximum": 100
      },
      "TicketPaginationOrder": {
        "type": "string",
        "enum": [
          "asc",
          "desc"
        ],
        "default": "desc"
      },
      "TicketPaginationSortBy": {
        "type": "string",
        "enum": [
          "createdAt",
          "updatedAt",
          "lastMessageAt"
        ],
        "default": "createdAt"
      },
      "TicketPaginationPageCursor": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
[...]
